html{
    background-color:papayawhip;
}
#titulo1{
    text-align: center;
    color: rebeccapurple;
    font-family: sans-serif;
}
h2{
    color: red;
    font-family: cursive;
    text-align: center
}
#a{
    width: 50%;
}
#img{
    float: left;
    text-align: center;
    border: inset;
    width: 50%;
    margin: 20%;
}
h3{
    float: left;
    width: 40%;
    padding: 10px;
    text-align: center;
    margin-left: 5%;
    font-size: 40px;
    background-color: cadetblue;
    color: white;
    border: inset;
    border-radius: 20px;
}
#calen{
    float: right;
    margin-right: 2%;
}
